<h2>{{ this.currentQuestion }}</h2>

<DailyRating::Selector @ratingSetter={{this.answerQuestion}} />

{{#if this.isFinalQuestion}}
  <PaperButton @raised=true @primary=true {{on 'click' this.saveQuestionValue}}>
    Save Rating
  </PaperButton>
{{/if}}
